/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * require_tree . 
 *= require_self
 *= require base/jquery.treeview
 *= require base/layout
 *= require base/base 
*/

#gift_logo {
  background: url("images/giftpoisk_logo.png") no-repeat top left;
  width:208px;
  height:86px;
}

table
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table.noborder, table.noborder td {border:0px}

table th
{  
  color:#EAF7E6;
  background-color: #C36;
}

table tr.alert td
{
  background-color:red;
}

.center_block h1, .center_block h2 {
	color:#3EC2D2;
}

.b-ext-search-inner {
  background-color:#c5e8ee;
}

.b-ext-search{ 
  background-color: #b9e3ea; 
}

.text_bg { 
  background-color: #f1fcfc; 
}

.lk {

background:#3EC2D2;
}

.left_block p.b-header span {
  color:#481f0d;
  font-size:13pt;
}

.treeview li a {
color: #481f0d;
}
.treeview li a:hover, .treeview ul a:hover {
    color:#3ec2d2;
}
.treeview li span.selected a {
color: #3ec2d2;
}

.treeview ul a {
color: #642c13;

}


.treeview li ul li ul li a {
color: #863d1d;
}

.article_t_p a:hover, p.r_text, .per-page, .article_t_p em, .article_t_p a:hover, p.r_text a:hover, a:hover.menu_left, p a:hover.menu_left {
color: #3ec2d2;
}
.article_sup, .article_name, #add_to_cart a {
color: #CC0000;

}

.lk a:hover, a.menu_left {
color: #481F0D;
}

#footer {
	background: #F1FCFC;
}
