/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require base/reset
 * require_tree . 
 *= require jquery.treeview
 *= require base/layout
 *= require base/base
 *= require base/search 
 *= require news
 *= require_self
*/

@import "giftpoisk_vars";
@import "buttons";


h1 {color:$c_braun;}

table
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table.noborder, table.noborder td {border:0px}

table th
{  
  color:#EAF7E6;
  background-color: $c_braun;
}

table tr.alert td
{
  background-color:red;
}

.center_block h1, .center_block h2 {
	color:$c_light_blue;
}

.text_bg { 
  background-color: #f1fcfc; 
}

.lk {
  background:$c_light_blue;
}

.left_block p.b-header span {
  color:$c_braun;
  font-size:13pt;
}

.treeview li a {
color: $c_braun;
}
.treeview li a:hover, .treeview ul a:hover {
    color:$c_light_blue;
}
.treeview li span.selected a {
color: $c_light_blue;
}

.treeview ul a {
color: #642c13;

}

input[type="submit"], input[type="button"], button {
   @extend .br_button;
}


.treeview li ul li ul li a {
color: #863d1d;
}

.article_t_p a:hover, p.r_text, .per-page, .article_t_p em, .article_t_p a:hover, p.r_text a:hover, a:hover.menu_left, p a:hover.menu_left {
color: $c_light_blue;
}
.article_sup, .article_name, #add_to_cart a {
color: #CC0000;

}

.lk a:hover, a.menu_left {
color: $c_braun;
}

#header_title {
  text-align:left;
  a  {
    display:inline-block;
    color: #fff;
    padding: 2px 20px 0;
    }
  
}

#footer {background: #F1FCFC;
	padding-bottom:10px;}

#add_to_cart, .add-to-cart {
 a {
  color:$c_dark_blue;
  &:hover {color: $c_light_blue};
 }
}
 

a.article_a {color:$c_braun;}


.basket_50 {
    #cart_name a {color:$c_dark_blue;}
}

